@using TesteCapgeminiMvc.Models
@model IEnumerable<Excel>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Teste Capgemini em Mvc .Net Core</title>
</head>
<body>
    @using (Html.BeginForm("Index", "Excel", FormMethod.Post))
    {
        <input type="submit" value="Carregar" />
    }
    @if (Model.Count() > 0)
    {
        <hr />
        <table cellpadding="0" cellspacing="0" border="1" width="80%" align="center">
            <tr>
                <th>#</th>
                <th>Data de Entrega</th>
                <th>Nome do Produto</th>
                <th>Quantidade</th>
                <th>Valor Unitário</th>
            </tr>
            @foreach (Excel excel in Model)
            {
        <tr>
            <td>@excel.Id</td>
            <td>@excel.DtEntrega</td>
            <td>@excel.NomeProduto</td>
            <td>@excel.Quantidade</td>
            <td>@excel.ValorUnitario</td>
        </tr>
            }
        </table>
    }
</body>
</html>